#Heading {
  text-align: center;
  background-color: lightgrey;
  border-radius: 50%;
  border-left: 300px;
  border-right: 300px;
  border-top: 20px;
  border-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: monospace;

}

.ruby {
  display: none;
}

.rust {
  display: none;
}

.swift {
  display: none;
}

label {
font-family: monospace;
}

button {
  margin-top: 20px;
  border-color: black;
  border-radius: 20%;
  background-color: pink;
  font-family: monospace;
}

body {
  background-color: lightblue;
}

#answer {
  display: none;
}

.form-control {
  font-style: italic;
  font-weight: lighter;
}

p {
  text-align: center;
}

h1 {
  text-align: left;
}
