#Heading {
  text-align: center;
  background-color: lightgrey;
  border-radius: 50%;
  border-left: 300px;
  border-right: 300px;
  border-top: 20px;
  border-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.ruby {
  display: none;
}

.rust {
  display: none;
}

.swift {
  display: none;
}

.questions {
  font-family: cursive;
}

button {
  margin-top: 20px;
  border-color: black;
  border-radius: 20%;
  background-color: pink;
}

#answer {
  display: none;
}
